@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@media (max-width: 768px) {
    .wrapper {
        width: 90%;
    }

    .navbar img {
        height: 30px;
    }

    .navbar i {
        font-size: 1.5rem;
    }

    .input-box input {
        height: 40px;
        font-size: 0.9rem;
    }

    .remember-forgot {
        font-size: 0.8rem;
    }

    .wrapper h1 {
        font-size: 1.8rem;
    }

    .button-container button, 
    .submit-container button {
        width: 150px;
        font-size: 18px;
        height: 40px;
    }
}

@media (max-width: 480px) {
    .navbar i {
        font-size: 1.2rem;
    }

    .input-box input {
        height: 35px;
        font-size: 0.8rem;
    }

    .wrapper h1 {
        font-size: 1.5rem;
    }

    .wrapper .login-button {
        font-size: 0.9rem;
        height: 40px;
    }

    .remember-forgot {
        font-size: 0.7rem;
    }

    .button-container button, 
    .submit-container button {
        width: 120px;
        font-size: 16px;
        height: 35px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff;
    overflow-x: hidden;
    overflow: hidden;
}

#bg-vid {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: 0.2;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}

.navbar {
    height: 60px;
    width: 100%;
    background: #1282b7;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 3px solid #3a2308;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.navbar img {
    display: block;
    height: 80px;
    margin-right: auto;
    padding-top: 15px;
}

.navbar i {
    font-size: 1.8rem;
    color: #fff;
    margin-left: 20px;
    cursor: pointer;
    transition: transform 0.2s, text-shadow 0.2s;
}

.navbar i:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    transform: scale(1.1);
}

.wrapper {
    width: 1000px;
    background: #8abab5;
    color: #fff;
    padding: 20px;
    border: 3px solid #3A2308;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    position: relative;
}



.wrapper h1 {
    font-size: 30px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 1);
}

.wrapper .input-box {
    width: 100%;
    margin: 20px 0;
    text-align: left;
}

.input-box input {
    width: 100%;
    height: 45px;
    background: #fff;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    font-size: 16px;
    color: #000;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    outline: none;
}

.input-box p {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
}

.button-container, 
.submit-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button-container button, 
.submit-container button {
    width: 200px;
    height: 45px;
    background: #84CAFF;
    border: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 20px;
    color: #000;
    font-weight: 700;
    transition: background 0.2s;
}

.button-container button:hover, 
.submit-container button:hover {
    background: #84e6ff;
}

.submit-container {
    justify-content: center;
}





/* Addition */
.loading {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    animation: slideUp 1.5s ease-out forwards;
    text-align: center;
    display: none;
    z-index: 1000;
    background: rgba(18,130,183, 1);
}

.loading_centered {
    height: 500px;
    width: 1100px;
    background: #8abab5;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    border: 4px solid #3A2308;
    border-radius: 10px;
    padding-bottom: 20px;
    margin-left: 20%;
    margin-top: 10%;
}

.loading_centered img {
    height: 40%;
    width: 40%;
    margin-top: 100px;
}

.loading_centered p {
    margin-top: -30px;
    font-size: 35px;
    color: #3A2308;
    font-weight: 600;
}


@keyframes slideUp {
    0% {
        bottom: -100%;
    }
    100% {
        bottom: 0;
    }
}



