<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAB</title>
    <link rel="stylesheet" href="../static/CSS/ProfilePage.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
</head>
<body>

    <video id="bg-vid" autoplay loop muted>
        <source src="../static/assets/video/grid.mp4" type="video/mp4">
    </video>

    <div class="navbar">
        <img src="../static/assets/image/logo.png" alt="logo">
        <a href="{{ url_for('questions') }}"><i class='bx bxs-home bx-lg' ></i></a>
        <a href="{{ url_for('profile') }}"><i class='bx bxs-user bx-lg'></i></a>
        
        
    </div>

    <div class="sidebar">
        <img src="../static/assets/image/user_small.png">
        
    </div>

    <div class="profile-text">
        <p>Profile</p>
    </div>

    <div class="wrapper">
        
        <img src="../static/assets/image/user.png" alt="user-pfp">
        <h1 id="status">FREE</h1>

        <form action="">
            <div class="profile-name">
                <h1>Name</h1>
                <div class="input-box">
                    <input type="text" required>
                </div>
            </div>

            <div class="profile-email">
                <h1>Email</h1>
                <div class="input-box">
                    <input type="email" required>
                </div>
            </div>

            <div class="divider-line">
                <p> </p>
            </div>





            <div class="profile-current-password">
                <h1>Current Password</h1>
                <div class="input-box">
                    <input type="password" required>
                </div>
            </div>

            <div class="profile-new-password">
                <h1>New Password</h1>
                <div class="input-box">
                    <input type="password" required>
                </div>
            </div>

            <div class="profile-confirm-password">
                <h1>Confirm Password</h1>
                <div class="input-box">
                    <input type="password" required>
                </div>
            </div>

        </form>
    </div>


</body>
</html>
