<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAB</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/CSS/SignupPage.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/image/logo.ico') }}" type="image/x-icon">
    
</head>
<body>

    <video id="bg-vid" autoplay loop muted>
        <source src="../static/assets/video/grid.mp4" type="video/mp4">
    </video>

    <div class="navbar">
        <img src="../static/assets/image/logo.png" alt="logo">
    </div>


    <div class="wrapper">

        <form action = "/questions">
            <h1>Sign up</h1>
            <div class="input-box">
                <p>Username</p>
                <input type="text" required>

            </div>

            <div class="input-box">
                <p>Email</p>
                <input type="email" required>
            </div>

            <div class="input-box">
                <p>Password</p>
                <input id="WordPass" type="password" minlength="8" required>

            </div>

            <div class="input-box">
                <p>Confirm Password</p>
                <input id="reWordPass" type="password" minlength="8" required>
            </div>

            <div class="other-options">
                <p>Sign up with: </p>
                <i class='bx bxl-facebook-circle bx-lg' ></i>
                <i class='bx bxl-google bx-lg' ></i>
            </div>

            <button type="submit" class="sign-up-button" >Sign up</button>

            <div class="login-link">
                <p>Already have an account? <a href="{{ url_for('login') }}">Log in</a> </p>
                <p id="tos-policy">By creating an account, you agree with our <a href="#">Terms of Service</a> & <a href="#">Privacy Policy</a></p>
            </div>

        </form>
    </div>


    <script>
        const submit_button = document.getElementsByClassName('.sign-up-button');
        const passwordInput = document.getElementById('WordPass');
        const rePasswordInput = document.getElementById('reWordPass');
        
        rePasswordInput.addEventListener('input', function (event) {
            rePasswordInput.setCustomValidity('');

            if (rePasswordInput.value != passwordInput.value) {
                rePasswordInput.setCustomValidity('Password does not match.');
            }
        });

        submit_button.addEventListener('submit', function (event) {
            rePasswordInput.reportValidity();
        })
    </script>



</body>
</html>
